<h3>Hard Addition Problems</h3>
<br />
<p>
    @ViewBag.num1 <br />
    + @ViewBag.num2
</p>
<br />
<form action="/Math/HardAddAnswer" method="post">
    Answer:  <input type="number" id="answer" name="answer" /><br />
    <input type="hidden" id="num1" name="num1" value="@ViewBag.num1" />
    <input type="hidden" id="num2" name="num2" value="@ViewBag.num2" />
    <input type="submit" value="Submit Answer" />
</form>
