<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center"> Math Challenges</h1>
    <br />
    <br />
    <div class="row">
        <div class="column">
            <h3>Addition Challenges</h3>
            <br />
            <form action="/Math/Addition" method="post">
                <label for="level"></label>
                <select name="level" id="level">
                    <option value="0">--------</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
                <input type="submit" value="Get Problem" />
            </form>

            <br />
            <br />

            <h3>Subtraction Challenges</h3>
            <br />
            <form action="/Math/Subtraction" method="post">
                <label for="level"></label>
                <select name="level" id="level">
                    <option value="0">--------</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
                <input type="submit" value="Get Problem" />
            </form>
        </div>
        <br />

        <div class="column">
            <h3>Multiplication Challenges</h3>
            <br />
            <form action="/Math/Multiplication" method="post">
                <label for="level"></label>
                <select name="level" id="level">
                    <option value="0">--------</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
                <input type="submit" value="Get Problem" />
            </form>


            <br />
            <br />

            <h3>Division Challenges</h3>
            <br />
            <form action="/Math/Division" method="post">
                <label for="level"></label>
                <select name="level" id="level">
                    <option value="0">--------</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
                <input type="submit" value="Get Problem" />
            </form>

        </div>
    </div>
</body>
</html>
<button onclick="document.location='/Student/Index'">Return to Student Index</button>