
<h3> Math Challenges</h3>
<br />
<div>
    Addition Challenges Easy: <button onclick="document.location='/Math/EasyAddition'">Get Challenge</button><br />
    Addition Challenges Medium: <button onclick="document.location='/Math/MediumAddition'">Get Challenge</button><br />
    Addition Challenges Hard: <button onclick="document.location='/Math/HardAddition'">Get Challenge</button><br />
</div>
<div>

    Subtraction Challenges Easy: <button onclick="document.location='/Math/EasySubtraction'">Get Challenge</button><br />
    Subtraction Challenges Medium: <button onclick="document.location='/Math/MediumSubtraction'">Get Challenge</button><br />
    Subtraction Challenges Hard: <button onclick="document.location='/Math/HardSubtraction'">Get Challenge</button><br />
</div>