
<h3> Math Challenges</h3>
<br />
<div>
    <h3>Addition Challenges</h3>
    <br />
    <form action="/Math/Addition" method="post">
        <label for="level"></label>
        <select name="level" id="level">
            <option value="0">--------</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select>
        <input type="submit" value="Get Problem" />
    </form>
</div>
<br />
<div>
    <h3>Subtraction Challenges</h3>
    <br />
    <form action="/Math/Subtraction" method="post">
        <label for="level"></label>
        <select name="level" id="level">
            <option value="0">--------</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select>
        <input type="submit" value="Get Problem" />
    </form>
</div>
<br />
<div>
    <h3>Multiplication Challenges</h3>
    <br />
    <form action="/Math/Multiplication" method="post">
        <label for="level"></label>
        <select name="level" id="level">
            <option value="0">--------</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select>
        <input type="submit" value="Get Problem" />
    </form>

</div>
<br />
<div>
    <h3>Division Challenges</h3>
    <br />
    <form action="/Math/Division" method="post">
        <label for="level"></label>
        <select name="level" id="level">
            <option value="0">--------</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select>
        <input type="submit" value="Get Problem" />
    </form>

</div>