<h3>Result: @ViewBag.message</h3>
@if (ViewBag.message == "Correct Answer!")
{
    <img src="~/Images/F8H3.gif" />
}
else
{
    <img src="~/Images/tryagain.gif" />
}

<h5>Next Problem: <button onclick="document.location='/Math/Multiplication?level=@ViewBag.Level'">Get Challenge</button></h5>
<br />
<button onclick="document.location='/Math/Index'">Return to Math Index</button>
