<h3>Result: @ViewBag.message</h3>

<h5>Next Problem: <button onclick="document.location='/Math/Subtraction?level=@ViewBag.Level'">Get Challenge</button></h5>
<br />
<button onclick="document.location='/Math/Index'">Return to Math Index</button>
