<h1 style="text-align:center">Error Page</h1>

<h3>Uh oh, something went wrong.  Please try again.</h3>

<button onclick="goBack()" style="background-color:lightblue">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
