<h1 style="text-align:center;color:mediumblue">Educational Games for Students</h1>
<br />
<h5>This site provides educational games for students.  Teachers can view reports for all the students
    in their classroom.  Parents can also log in and view their students' reports.  The site also provides
    an Administration component making it easy to set up teacher, parent and student accounts.</h5>
<br />
<hr style="height:2px;border-width:0;color:steelblue;background-color:mediumblue">
<p>Students can log in to play math and science games.  Register or LogIn now to get started.</p>
<div style="text-align:center">
<img src="~/Images/mathscience.jpg"/>
    </div>
<hr style="height:2px;border-width:0;color:steelblue;background-color:mediumblue">
<p>Teachers and parents can log in to view student information and track student progress.  Register or LogIn now to get started.</p>.
<br />
<div style="text-align:center">
<img src="~/Images/statistics2.jpg" style="width:300px"/>
</div> 