<h1 style="text-align:center">Assign Parent To a Student</h1>
<br />
<form action="/Admin/AssignParenttoStud" method="post">
    <label for="parentfirst">Enter Parent First Name: </label>
    <input type="text" id="parentfirst" name="parentfirst" placeholder="First Name" /> <br />
    <label for="parentlast">Enter Parent Last Name: </label>
    <input type="text" id="parentlast" name="parentlast" placeholder="Last Name" /><br />
    <label for="studentfirst">Enter Student First Name: </label>
    <input type="text" id="studentfirst" name="studentfirst" placeholder="First Name" /><br />
    <label for="studentlast">Enter Student Last Name: </label>
    <input type="text" id="studentlast" name="studentlast" placeholder="Last Name" /><br />
    <input type="submit" value="Submit" style="background-color:lightblue" />
  
</form>
<br />
<button onclick="goBack()" style="background-color:lightblue">Go Back</button>


<script>
    function goBack() {
        window.history.back();
    }
</script>