<h1 style="text-align:center">Get a List of Students for a Teacher</h1>
<br />
<form action="/Admin/StudentTeacherList" method="post">
    <label for="firstName">Teacher First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" /><br />
    <label for="lastName">Teacher Last Name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" /><br />
    <input type="submit" value="Submit" />
</form>
