<h1 style="text-align:center">Administration Menu</h1>

<div> @if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert('@TempData["Message"]');
    </script>
}

    </div>
   
<br />

<ol>
    <li><a href="/RoleManager/Index">Manage Roles</a></li>
    <li><a href="/UserRoles/Index">Assign/Edit Users to Roles</a></li>
    <li><a href="/Admin/SetUpAcct">Set up Student, Teacher, or Parent Account</a></li>
    <li><a href="/Admin/GetLookUp">Look up a Student, Teacher, or Parent</a></li>
    <li><a href="/Admin/GetStudtoTeacher">Assign Students to Teachers</a></li>
    <li><a href="/Admin/GetParenttoStud">Assign Parents to Students</a></li>
</ol>



