<h1 style="text-align:center">Search Results</h1>
<br />
<p><b>User Type: </b>@ViewBag.Type</p>
<p><b>User Id: </b>@ViewBag.Id</p>
<p><b>First Name: </b>@ViewBag.FirstName</p>
<p><b>Last Name: </b>@ViewBag.LastName</p>

<br />
<button onclick="goBack()" style="background-color:lightblue">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>