<h1 style="text-align:center">Remove a Student From a Teacher</h1>
<br />
<form action="/Admin/RemoveStudFromTeacher" method="post">
    <label for="studentfirst">Enter Student First Name: </label>
    <input type="text" id="studentfirst" name="studentfirst" placeholder="First Name" /> <br />
    <label for="studentlast">Enter Student Last Name: </label>
    <input type="text" id="studentlast" name="studentlast" placeholder="Last Name" /><br />
    <label for="teacherfirst">Enter Teacher First Name: </label>
    <input type="text" id="teacherfirst" name="teacherfirst" placeholder="First Name" /><br />
    <label for="teacherlast">Enter Teacher Last Name: </label>
    <input type="text" id="teacherlast" name="teacherlast" placeholder="Last Name" /><br />
    <input type="submit" value="Submit" style="background-color:lightblue" />

</form>
<br />

<button onclick="goBack()" style="background-color:lightblue">Go Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>