@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Role Manager</h1>
<br />
<form action=/RoleManager/AddRole method="post">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
    
            <button style="background-color:lightblue">Add New Role</button>
       
    </div>
</form>
<table style="width:100%" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>