<h1 style="text-align:center">Student Homepage</h1>
<br />
<h3>Challenges</h3>
<p>Math Challenges: <button onclick="document.location='/Math/Index'">Math Index</button></p>
<p>Science Challenges: <button onclick="document.location='/Science/Index'">Science Index</button></p>

<br />
<h3>Statistics</h3>
<p>See all of your statistics here: <button onclick="document.location='/Student/Statistics'">Statistics</button></p>
