@using EducationalGames.Models

@model List<AspNetUsers>

@foreach(AspNetUsers st in Model)
{
    <ol>
        <li><a href="/Parent/StudDetails?id=@st.Id">@st.FirstName  @st.LastName</a></li>
    </ol>
}