<h1 style="text-align:center">Teacher Menu</h1>
<br />
<ol>
    <li><a href="/Teacher/ListStudents">List Students</a></li>
    <li><a href="/Teacher/GetStudentProg">Student Progress Report</a></li>
</ol>