<h3> Science Challenges</h3>
<br />
<div>
    <h3>Periodic Table Questions</h3>
    <br />
    <form action="/Science/PeriodicTableQuestion" method="post">
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="">--------</option>
            <option value="numbertoname">Number to Name</option>
            <option value="nametonumber">Name to Number</option>
            <option value="nametosymbol">Name to Symbol</option>
            <option value="symboltoname">Symbol to Name</option>
        </select>
        <input type="submit" value="Get Question" />
    </form>
</div>
<br />
<h3>Planet Questions</h3>
<p>Get planet questions: <button onclick="document.location='/Science/PlanetQuestions'">Get Question</button></p>