<h1 style="text-align:center;color:steelblue"> Science Challenges</h1>
<br />

<div>
    <h3 style="font-size:200%">Periodic Table Questions <img src="~/Images/Hydrogen.png" style="height:150px;width:150px;position:absolute;top:150px;right:600px" /></h3>

    <form action="/Science/PeriodicTableQuestion" method="post">
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="">--------</option>
            <option value="numbertoname">Number to Name</option>
            <option value="nametonumber">Name to Number</option>
            <option value="nametosymbol">Name to Symbol</option>
            <option value="symboltoname">Symbol to Name</option>
        </select>
        <input type="submit" value="Get Question" style="background-color:lightblue"/>
    </form>
</div>
<br />
<br />
<br />
<hr style="height:2px;border-width:0;color:steelblue;background-color:steelblue">
<h3 style="font-size:200%">Planet Questions <img src="~/Images/planet.jpg" style="height:150px;width:150px;position:absolute;top:350px;right:700px"/>
</h3>
<p>Get planet questions: <button onclick="document.location='/Science/PlanetQuestions'" style="background-color:lightblue">Get Question</button></p>
<br />
<br />
<br />
<button onclick="document.location='/Student/Index'" style="background-color:lightblue">Return to Student Index</button>