<h1 style="text-align:center;color:steelblue">Periodic Table Question</h1>
<br />
<div style="text-align:center">
    <h5>Question: If the atomic number is @ViewBag.AtomicNumber then what is the name of this element?</h5>
    <br />
    <form action="/Science/PerTableStringAnswer" method="post">
        Answer: <input type="text" id="answer" name="answer" />
        <input type="hidden" id="correctAnswer" name="correctAnswer" value="@ViewBag.Name" />
        <input type="hidden" id="type" name="type" value="@ViewBag.Type" />
        <input type="submit" value="Submit" style="background-color:lightblue">

    </form>
    </div>
<br />
<button onclick="document.location='/Science/Index'" style="background-color:lightblue">Return to Science Index</button>